*{
	margin:0;
	padding:0;

}
body{
	width:100%;
	height:100%;
}
.bg{
	z-index:5;
	position:absolute;
     background: #000 url(../img/timg.jpg) no-repeat fixed top;
	background-origin:content-box;
	background-size: 90%;
	height:100%;
	filter:blur(5px);
	/*-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
   /* filter: blur(5px);*/
}
.top{
	position:fixed;
	left:0;
	right:0;
	top:0;
	height:40px;
   
   z-index:1000;
   background: #080707
  

}
.top .left{
	
	
	float:left;
	width:10%;


}
.top .right{
	float:right;
    width:90%;
   
}
.top .left, .top .right{

	height:40px;

}
.top .left h1{
	font-size:16px;
	color:#3FEB13;
	line-height:40px;
	text-indent:10px;

}

.top .right ul {
	width:100%;
	float:right;

}
.top .right li{
    list-style:none;
    display:inline-block;
    height:40px;
  

     padding:0 10px;

}

.top .right li a{
	display:block;
	text-decoration:none;
	color:#0EC1F1;
	font-family:微软雅黑;
	
	padding:0 10px;
	height:30px;
	margin-top:5px;
   
}

.top .right li a:hover{
	box-shadow:0 0 8px rgba(10,255,0,1);
	border-radius:4px;
	transition:all 0.5s;
	text-shadow:1px 1px 5px rgba(50,255,50,1);
}

.body-left{
	position:fixed;
    z-index:500;
    top:40px;
    left:0;
    bottom:0;
	width:280px;
	background:#000;
	border-radius:4px;
	box-shadow:0px 0px 20px rgba(10,255,10,0.6),inset 0px 0px 20px rgba(10,255,10,0.6);
	color:#fff;
	padding:10px;
}

.body-left ul{
	width:100%;
	height:100%;

}
.body-left ul li{
	width:100%;
	height:40px;
	list-style:none;
    box-shadow:1px 1px 5px rgba(10,255,10,0.5);

}
.body-left ul li a{
	text-decoration:none;
	color:#03BAFF;
	display:block;
	text-align:center;
	line-height:40px;
}
.body-left ul li:hover{
    box-shadow:1px 0px 5px rgba(0,0,0,0.5);

}
.body-left ul li a:hover{
	color:#F01170;
}

.right-box{
	width:1000px;
	height:500px;
	position:absolute;
	z-index:600;
	background:#000;
	top:50%;
	left:-100%;
	margin-left:-500px;
	margin-top:-250px;

}

.hover{
	left:50%;
	transition:all 1s;
}